<html>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="images/gatexFavicon.png" rel="icon" />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/admin.css" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/graphCreating.js"></script>
    <script src="/js/filterCSS.js"></script>

    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <title>Dashboard Page</title>
  </head>
  <body>
    <section id="dashboardSection" class="sections">
      <div class="dashboardSection1">
        <h2>Dashboard</h2>
      </div>
      <div class="navigationButtons">
        <div class="back-button">
          <a href="/admin" class="btn btn-primary1">Back to Admin</a>
        </div>
        <div class="logoutButton">
          <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
      </div>
    </section>
    <!-- Add filters section with IDs and class names -->
    <section id="filtersSection" class="sections">
      <form id="filterForm" method="post">
        <div class="input-box filter-group">
          <label class="input-label" for="project_name"></label>
          <select id="project_name" class="input-1">
            <option value="select">Project Name</option>
          </select>
        </div>
        <div class="input-box filter-group">
          <label class="input-label" for="building_name"></label>
          <select id="building_name" class="input-1">
            <option value="select">Building Name</option>
          </select>
        </div>
        <div class="input-box filter-group">
          <label class="input-label" for="year">Year:</label>
          <input
            type="text"
            id="year"
            name="year"
            class="input-1"
            onfocus="setFocus(true)"
            onblur="setFocus(false)"
          />
        </div>
        <div class="input-box filter-group">
          <label class="input-label" for="month">Month:</label>
          <input
            type="text"
            id="month"
            name="month"
            class="input-1"
            onfocus="setFocus(true)"
            onblur="setFocus(false)"
          />
        </div>
        <span class="submitButtonStyle">
          <div class="filter-group">
            <button id="applyFiltersButton" class="btn btn-primary1">Apply
              Filters</button>
          </div>
        </span>
        <div class="filter-group">
          <button type="button" id="clearAll" class="btn btn-primary1">Clear All</button>
        </div>
      </form>
    </section>
    <span id="justSpan">
      <section id="chartSection" class="sections">
        <div id="message" style="color: red; font-weight: bold;"></div>
        <canvas id="myChart"></canvas>
      </section>
    </span>
    <script>
      $(document).ready(function () { $("#chartSection").css("width", "55rem");
      }); document.addEventListener("DOMContentLoaded", function() {
      document.getElementById("clearAll").addEventListener("click", function() {
      const form = document.getElementById("filterForm"); for (const element of
      form.elements) { if (element.type !== "button" && element.type !==
      "submit") { element.value = ""; } } }); });
    </script>
  </body>
</html>